.modalBackdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 246, 246, 0.659);
  z-index: 10;
}
.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  height: 70vh;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 20px;
  overflow: hidden;
  z-index: 11;
}

.bookingInfo {
  font-size: 1.6rem;
  padding: 2rem;
}

.bookingHeading {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 6rem;
}
.inputBox {
  margin-bottom: 0.6rem;
  width: 100%;
}

.bookingInput {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  border-width: 0px 0px 1px 0px;
  padding: 0.6rem;
  outline: none;
  margin-bottom: 0.6rem;
}

.bookingInputInvalid {
  border-color: var(--color-red);

}

.dateData,
.userData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.datePicker {
  display: flex;
  flex-direction: column;
}

.salonData {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.bookingBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6rem;
}

.bookingImg {
  background-size: cover;
  background-position: center;
  background-color: blue;
}

.inputError {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-red);
  margin-bottom: 1.4rem;
}
