.modelsContainer {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--color-black);
    border-radius: 20px;
}

.modelsHeading {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding: 4rem;
  padding-left: 8rem;
  border-radius: 20px;
  background-color: var(--color-black);
  color: white;
}

.modelsText {
    color: var(--color-white);
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: left;
    padding: 0rem 2rem 4rem 8rem;
    
}